
@{
    ViewBag.Title = "MenuCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Cartelera", "Index", "Pelicula")</li>
                <li>@Html.ActionLink("Tienda de Golosinas", "Index", "Golosina")</li>
                <li>@Html.ActionLink("Comprar Boletos", "AgregarTicketPelicula", "TicketPelicula")</li>
                <li>@Html.ActionLink("Comprar Golosinas", "AgregarTicketGolosina", "TicketGolosina")</li>
                <li><a href="/Home/Index">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <h2>Proximos Estrenos</h2><br /><br />
    <div class="col-md-4">
        <img width="200" src="~/Content/img/descarga.jfif" alt="Alternate Text" />
        <h3>Godzilla vs Kong</h3>
        <br />
        <p><strong>Duracion: </strong>2h 52m</p>
        <p><strong>Tipo: </strong>Ciencia ficcion/Accion</p>
    </div>
    <div class="col-md-4">
        <img width="200" src="~/Content/img/280x420.jpg" alt="Alternate Text" />
        <h3>Los Croods 2 : una nueva era</h3>
        <br />
        <p><strong>Duracion: </strong>1h 35m</p>
        <p><strong>Tipo: </strong>Infantil/Aventura</p>
    </div>
    <div class="col-md-4">
        <img width="200" src="~/Content/img/rabbit2-scaled.jpg" alt="Alternate Text" />
        <h3>Peter Rabbit: conejo en fuga</h3>
        <br />
        <p><strong>Duracion: </strong>1h 35m</p>
        <p><strong>Tipo: </strong>Comedia/Aventura</p>
    </div>
</div>