@{
    ViewBag.Title = "Home Page";
}

<div class="sidenav">
    <div class="login-main-text">
        <h2>Kodimax</h2>
        <p>Inicie sesión o regístrese para acceder</p>
    </div>
</div>

<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            @{
                if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    //message tiene un valor
                    <div class="alert alert-danger">@ViewBag.Message</div>
                }
            }
        <form action="/Home/Login" method="post">
            @*/Home/Login envia los datos al controlador Home, a la funcion Index *@
            <div class="form-group">
                <label>Usuario</label>
                <input type="text" name="usuario" class="form-control" placeholder="Usuario" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" name="password" class="form-control" placeholder="Contraseña" />
            </div>

            <button class="btn btn-success">Iniciar sesion</button>
            <button type="button" class="btn btn-default">@Html.ActionLink("Registrarse", "Registrar", "", new { @class= "boton-reg"})</button>
        </form>
            
        </div>
    </div>
</div>
