@model IEnumerable<Kodimax_ASP.Models.Pelicula>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cartelera</h2>

@foreach (var item in Model)
{
    <div class="col-sm-12 col-md-3">
        <img width="200" src="@Url.Action("getImage", "Pelicula", new { id = item.Id_Pelicula })" alt="Alternate Text" />
        <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
        <br />
        <p>Duracion: @Html.DisplayFor(modelItem => item.Duracion)</p>
        <p>Tipo: @Html.DisplayFor(modelItem => item.Tipo)</p>
    </div>
}
